################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WeatherApp/.vs
/WeatherApp/bin/Debug/net8.0/cs
/WeatherApp/bin/Debug/net8.0/de
/WeatherApp/bin/Debug/net8.0/es
/WeatherApp/bin/Debug/net8.0/fr
/WeatherApp/bin/Debug/net8.0/it
/WeatherApp/bin/Debug/net8.0/ja
/WeatherApp/bin/Debug/net8.0/ko
/WeatherApp/bin/Debug/net8.0/pl
/WeatherApp/bin/Debug/net8.0/pt-BR
/WeatherApp/bin/Debug/net8.0/ru
/WeatherApp/bin/Debug/net8.0/tr
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/cs
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/de
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/es
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/fr
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/it
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/ja
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/ko
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/pl
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/pt-BR
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/ru
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/tr
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/zh-Hans
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/zh-Hant
/WeatherApp/bin/Debug/net8.0/zh-Hant
/WeatherApp/bin/Debug/net8.0/zh-Hans
/WeatherApp/bin/Debug/net8.0/Azure.Core.dll
/WeatherApp/bin/Debug/net8.0/Azure.Identity.dll
/WeatherApp/bin/Debug/net8.0/BlazorLeafletInterop.dll
/WeatherApp/bin/Debug/net8.0/BrowserInterop.dll
/WeatherApp/bin/Debug/net8.0/e_sqlite3.a
/WeatherApp/bin/Debug/net8.0/GeoJSON.Text.dll
/WeatherApp/bin/Debug/net8.0/GoogleApi.dll
/WeatherApp/bin/Debug/net8.0/GoogleMapsComponents.dll
/WeatherApp/bin/Debug/net8.0/Humanizer.dll
/WeatherApp/bin/Debug/net8.0/libman.json
/WeatherApp/bin/Debug/net8.0/Microsoft.AspNetCore.Authorization.dll
/WeatherApp/bin/Debug/net8.0/Microsoft.AspNetCore.Components.dll
/WeatherApp/bin/Debug/net8.0/Microsoft.AspNetCore.Components.Forms.dll
/WeatherApp/bin/Debug/net8.0/Microsoft.AspNetCore.Components.Web.dll
/WeatherApp/bin/Debug/net8.0/Microsoft.AspNetCore.Metadata.dll
/WeatherApp/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
/WeatherApp/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.dll
/WeatherApp/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
/WeatherApp/bin/Debug/net8.0/Microsoft.CodeAnalysis.dll
/WeatherApp/bin/Debug/net8.0/Microsoft.CodeAnalysis.Workspaces.dll
/WeatherApp/bin/Debug/net8.0/Microsoft.Data.SqlClient.dll
/WeatherApp/bin/Debug/net8.0/Microsoft.Data.Sqlite.dll
/WeatherApp/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/WeatherApp/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Design.dll
/WeatherApp/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
/WeatherApp/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
/WeatherApp/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Sqlite.dll
/WeatherApp/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.SqlServer.dll
/WeatherApp/bin/Debug/net8.0/Microsoft.Extensions.Caching.Abstractions.dll
/WeatherApp/bin/Debug/net8.0/Microsoft.Extensions.Caching.Memory.dll
/WeatherApp/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/WeatherApp/bin/Debug/net8.0/Microsoft.Extensions.DependencyModel.dll
/WeatherApp/bin/Debug/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
/WeatherApp/bin/Debug/net8.0/Microsoft.Identity.Client.dll
/WeatherApp/bin/Debug/net8.0/Microsoft.Identity.Client.Extensions.Msal.dll
/WeatherApp/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
/WeatherApp/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
/WeatherApp/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
/WeatherApp/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
/WeatherApp/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/WeatherApp/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
/WeatherApp/bin/Debug/net8.0/Microsoft.JSInterop.dll
/WeatherApp/bin/Debug/net8.0/Microsoft.SqlServer.Server.dll
/WeatherApp/bin/Debug/net8.0/Microsoft.Win32.SystemEvents.dll
/WeatherApp/bin/Debug/net8.0/Mono.TextTemplating.dll
/WeatherApp/bin/Debug/net8.0/OneOf.dll
/WeatherApp/bin/Debug/net8.0/SQLitePCLRaw.batteries_v2.dll
/WeatherApp/bin/Debug/net8.0/SQLitePCLRaw.core.dll
/WeatherApp/bin/Debug/net8.0/SQLitePCLRaw.provider.e_sqlite3.dll
/WeatherApp/bin/Debug/net8.0/System.CodeDom.dll
/WeatherApp/bin/Debug/net8.0/System.Composition.AttributedModel.dll
/WeatherApp/bin/Debug/net8.0/System.Composition.Convention.dll
/WeatherApp/bin/Debug/net8.0/System.Composition.Hosting.dll
/WeatherApp/bin/Debug/net8.0/System.Composition.Runtime.dll
/WeatherApp/bin/Debug/net8.0/System.Composition.TypedParts.dll
/WeatherApp/bin/Debug/net8.0/System.Configuration.ConfigurationManager.dll
/WeatherApp/bin/Debug/net8.0/System.Data.SqlClient.dll
/WeatherApp/bin/Debug/net8.0/System.Drawing.Common.dll
/WeatherApp/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
/WeatherApp/bin/Debug/net8.0/System.Memory.Data.dll
/WeatherApp/bin/Debug/net8.0/System.Runtime.Caching.dll
/WeatherApp/bin/Debug/net8.0/System.Security.Cryptography.ProtectedData.dll
/WeatherApp/bin/Debug/net8.0/System.Security.Permissions.dll
/WeatherApp/bin/Debug/net8.0/System.Windows.Extensions.dll
/WeatherApp/bin/Debug/net8.0/WeatherApp.dll
/WeatherApp/bin/Debug/net8.0/WeatherApp.pdb
/WeatherApp/bin/Debug/net8.0/WeatherApp.staticwebassets.runtime.json
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Azure.Core.wasm
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Azure.Core.wasm.gz
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Azure.Identity.wasm
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Azure.Identity.wasm.gz
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/blazor.boot.json
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/blazor.boot.json.gz
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/BlazorLeafletInterop.wasm
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/BlazorLeafletInterop.wasm.gz
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/BrowserInterop.wasm
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/BrowserInterop.wasm.gz
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/e_sqlite3.a
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/e_sqlite3.a.gz
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/GeoJSON.Text.wasm
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/GeoJSON.Text.wasm.gz
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/GoogleApi.wasm
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/GoogleApi.wasm.gz
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/GoogleMapsComponents.wasm
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/GoogleMapsComponents.wasm.gz
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Humanizer.wasm
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Humanizer.wasm.gz
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Microsoft.AspNetCore.Authorization.wasm
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Microsoft.AspNetCore.Authorization.wasm.gz
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Microsoft.AspNetCore.Components.Forms.wasm
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Microsoft.AspNetCore.Components.Forms.wasm.gz
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Microsoft.AspNetCore.Components.wasm
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Microsoft.AspNetCore.Components.wasm.gz
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Microsoft.AspNetCore.Components.Web.wasm
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Microsoft.AspNetCore.Components.Web.wasm.gz
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Microsoft.AspNetCore.Metadata.wasm
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Microsoft.AspNetCore.Metadata.wasm.gz
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Microsoft.Bcl.AsyncInterfaces.wasm
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Microsoft.Bcl.AsyncInterfaces.wasm.gz
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Microsoft.CodeAnalysis.CSharp.wasm
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Microsoft.CodeAnalysis.CSharp.wasm.gz
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Microsoft.CodeAnalysis.CSharp.Workspaces.wasm
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Microsoft.CodeAnalysis.CSharp.Workspaces.wasm.gz
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Microsoft.CodeAnalysis.wasm
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Microsoft.CodeAnalysis.wasm.gz
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Microsoft.CodeAnalysis.Workspaces.wasm
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Microsoft.CodeAnalysis.Workspaces.wasm.gz
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Microsoft.Data.SqlClient.wasm
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Microsoft.Data.SqlClient.wasm.gz
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Microsoft.Data.Sqlite.wasm
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Microsoft.Data.Sqlite.wasm.gz
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Microsoft.EntityFrameworkCore.Abstractions.wasm
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Microsoft.EntityFrameworkCore.Abstractions.wasm.gz
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Microsoft.EntityFrameworkCore.Design.wasm
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Microsoft.EntityFrameworkCore.Design.wasm.gz
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Microsoft.EntityFrameworkCore.Relational.wasm
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Microsoft.EntityFrameworkCore.Relational.wasm.gz
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Microsoft.EntityFrameworkCore.Sqlite.wasm
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Microsoft.EntityFrameworkCore.Sqlite.wasm.gz
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Microsoft.EntityFrameworkCore.SqlServer.wasm
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Microsoft.EntityFrameworkCore.SqlServer.wasm.gz
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Microsoft.EntityFrameworkCore.wasm
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Microsoft.EntityFrameworkCore.wasm.gz
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Microsoft.Extensions.Caching.Abstractions.wasm
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Microsoft.Extensions.Caching.Abstractions.wasm.gz
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Microsoft.Extensions.Caching.Memory.wasm
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Microsoft.Extensions.Caching.Memory.wasm.gz
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Microsoft.Extensions.DependencyInjection.Abstractions.wasm
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Microsoft.Extensions.DependencyInjection.Abstractions.wasm.gz
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Microsoft.Extensions.DependencyModel.wasm
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Microsoft.Extensions.DependencyModel.wasm.gz
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Microsoft.Extensions.Logging.Abstractions.wasm
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Microsoft.Extensions.Logging.Abstractions.wasm.gz
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Microsoft.Identity.Client.Extensions.Msal.wasm
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Microsoft.Identity.Client.Extensions.Msal.wasm.gz
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Microsoft.Identity.Client.wasm
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Microsoft.Identity.Client.wasm.gz
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Microsoft.IdentityModel.Abstractions.wasm
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Microsoft.IdentityModel.Abstractions.wasm.gz
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Microsoft.IdentityModel.JsonWebTokens.wasm
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Microsoft.IdentityModel.JsonWebTokens.wasm.gz
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Microsoft.IdentityModel.Logging.wasm
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Microsoft.IdentityModel.Logging.wasm.gz
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Microsoft.IdentityModel.Protocols.OpenIdConnect.wasm
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Microsoft.IdentityModel.Protocols.OpenIdConnect.wasm.gz
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Microsoft.IdentityModel.Protocols.wasm
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Microsoft.IdentityModel.Protocols.wasm.gz
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Microsoft.IdentityModel.Tokens.wasm
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Microsoft.IdentityModel.Tokens.wasm.gz
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Microsoft.JSInterop.wasm
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Microsoft.JSInterop.wasm.gz
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Microsoft.SqlServer.Server.wasm
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Microsoft.SqlServer.Server.wasm.gz
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Microsoft.Win32.SystemEvents.wasm
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Microsoft.Win32.SystemEvents.wasm.gz
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Mono.TextTemplating.wasm
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/Mono.TextTemplating.wasm.gz
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/OneOf.wasm
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/OneOf.wasm.gz
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/SQLitePCLRaw.batteries_v2.wasm
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/SQLitePCLRaw.batteries_v2.wasm.gz
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/SQLitePCLRaw.core.wasm
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/SQLitePCLRaw.core.wasm.gz
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/SQLitePCLRaw.provider.e_sqlite3.wasm
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/SQLitePCLRaw.provider.e_sqlite3.wasm.gz
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/System.CodeDom.wasm
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/System.CodeDom.wasm.gz
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/System.Composition.AttributedModel.wasm
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/System.Composition.AttributedModel.wasm.gz
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/System.Composition.Convention.wasm
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/System.Composition.Convention.wasm.gz
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/System.Composition.Hosting.wasm
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/System.Composition.Hosting.wasm.gz
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/System.Composition.Runtime.wasm
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/System.Composition.Runtime.wasm.gz
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/System.Composition.TypedParts.wasm
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/System.Composition.TypedParts.wasm.gz
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/System.Configuration.ConfigurationManager.wasm
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/System.Configuration.ConfigurationManager.wasm.gz
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/System.Drawing.Common.wasm
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/System.Drawing.Common.wasm.gz
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/System.IdentityModel.Tokens.Jwt.wasm
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/System.IdentityModel.Tokens.Jwt.wasm.gz
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/System.Memory.Data.wasm
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/System.Memory.Data.wasm.gz
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/System.Runtime.Caching.wasm
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/System.Runtime.Caching.wasm.gz
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/System.Security.Cryptography.ProtectedData.wasm
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/System.Security.Cryptography.ProtectedData.wasm.gz
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/System.Security.Permissions.wasm
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/System.Security.Permissions.wasm.gz
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/System.Windows.Extensions.wasm
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/System.Windows.Extensions.wasm.gz
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/WeatherApp.pdb
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/WeatherApp.pdb.gz
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/WeatherApp.wasm
/WeatherApp/bin/Debug/net8.0/wwwroot/_framework/WeatherApp.wasm.gz
/WeatherApp/bin/Debug/net8.0
/WeatherApp/obj/project.assets.json
/WeatherApp/obj/project.nuget.cache
/WeatherApp/obj/WeatherApp.csproj.EntityFrameworkCore.targets
/WeatherApp/obj/WeatherApp.csproj.nuget.dgspec.json
/WeatherApp/obj/WeatherApp.csproj.nuget.g.props
/WeatherApp/obj/WeatherApp.csproj.nuget.g.targets
